<% if @phrases.any? %>
  <table class="translations bordered-table zebra-striped">
    <thead>
      <tr>
        <th class="header phrase"><%= t 'Phrase' %></th>
        <th class="header value"><%= t 'Localization' %></th>
        <th class="header hits"><%= t 'Hits' %></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'tolk/phrases/phrase', :collection => @phrases %>
    </tbody>
  </table>
<% else %>
  <p><%= t 'No phrases yet.' %></p>
<% end %>

<%= form_for :phrase, :remote => true, :html => { :class => 'form-stacked' } do |f| %>
<fieldset>
  <legend><%= t 'Add New Phrase' %></legend>
  <div class="clearfix">
    <%= f.label :key, 'Phrase' %>
    <div class="input">
      <%= f.text_area :key, :rows => 4, :class => 'span10' %>
    </div>
  </div><!-- /clearfix -->
  <div class="clearfix">
    <%= f.label :value, 'Localization' %>
    <div class="input">
      <%= f.text_area :value, :rows => 4, :class => 'span10' %>
    </div>
  </div><!-- /clearfix -->
</fieldset>
<div class="actions">
  <button type="submit" class="btn primary"><%= t '+ Add Phrase' %></button>&nbsp;<button type="reset" class="btn"><%= t 'Reset' %></button>
</div>
<% end %>


