<% if @phrases.any? %>
  <table class="translations bordered-table zebra-striped">
    <thead>
      <tr>
        <th class="header phrase" width="36%"><%= t 'Phrase' %></th>
        <th class="header value" width="36%"><%= t 'Localization' %></th>
        <th class="header misses" width="14%" align="center"><%= t 'Miss Count' %></th>
        <th class="header options" width="14%" align="center"><%= t 'Options' %></th>
      </tr>
    </thead>
    <tbody>
      <%- @phrases.each do |phrase| %>
        <tr>
          <td class="key"><%= phrase.key %></td>
          <td class="value">
            <%= form_for :phrase, :url => locale_path(current_locale), :remote => true, :method => :put do |f| %>
              <%= f.hidden_field :key, :value => phrase.key %>
              <%= f.text_area :value, :class => 'span10', :rows => 1 %>
            <%- end %>
          </td>
          <td class="misses"><%= phrase.misses %></td>
          <td class="options">
            <%- if Tolk.google_translate? %>
            <%= link_to 'Translate', translate_locale_phrases_path(current_locale, :id => phrase), :remote => true, :class => 'translate', :method => :post %>
            <%- end %>
          </td>
        </tr>
      <%- end %>
    </tbody>
  </table>
<% else %>
  <p><%= t 'No phrase misses yet.' %></p>
<% end %>