<% content_for :locale do %>
  <span class="locale"><%= @locale.language_name %></span>
<% end %>

<% content_for :head do %>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= tolk.locale_path(@locale, :format => 'atom') -%>" />
<% end %>

<h3 class="switch">Phrases missing translation (<%= @locale.count_phrases_without_translation %>) <span>(<%= link_to 'See completed translations', all_locale_path(@locale) %>)</span></h3>

<div class="search">
  <%= render :partial => "tolk/searches/form", :locals => { :locale => @locale } %>
</div>

<div class="translations">
   <%= form_for :locale do |locale_form| %>
    <table class="translations">
      <tr>
        <th class="phrase">Phrase</th>
        <th class="value">Localization</th>
      </tr>
      <% @phrases.each do |phrase| %>
        <tr>
          <td class="phrase"><%= phrase.phrase %></td>
          <td class="value"><%= text_area_tag 'phrase_value', phrase.value %></td>
        </tr>
      <% end %>
    </table>
    <div class="table_submit">
      <p><%= locale_form.submit "Save changes" %></p>
    </div>
  <% end %>
  <div class="paginate">
    <%= will_paginate @phrases %>
  </div>
</div>
