<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= Tolk::Locale.primary_locale_name %>" lang="<%= Tolk::Locale.primary_locale_name %>">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Tolk</title>
    <%= javascript_include_tag 'tolk' %>
    <%= stylesheet_link_tag 'tolk' %>
    <%= yield :head %>
  </head>
  <body>
    <div id='container'>
      <div id='head'>
        <h1><span class="home"><%= link_to 'Tolk', tolk.root_path %></span><%= yield :locale %></h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
