<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= Tolk.locale %>" lang="<%= Tolk.locale %>">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Tolk</title>
    <%= javascript_include_tag 'tolk' %>
    <%= stylesheet_link_tag 'tolk' %>
    <%= yield :head %>
  </head>
  <body>
    <header>
      <h1><%= link_to 'Tolk', tolk.root_path %></h1>
    </header>
    <div id="main">
      <div id="locales">
        <ul>
          <% Tolk::Locale.available_locales.each do |locale| -%>
            <%= completed_percentage_link locale %>
          <% end -%>
          <li class="add"><%= link_to t('New Locale'), new_locale_path %></li>
        </ul>
      </div>
      <div id="container">
        <%= yield %>
      </div>
    </div>
    <footer>
      Tolk
    </footer>
  </body>
</html>
