<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= Tolk.locale %>" lang="<%= Tolk.locale %>">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Tolk</title>
    <%= javascript_include_tag 'tolk' %>
    <%= stylesheet_link_tag 'tolk' %>
    <%= yield :head %>
  </head>
  <body>
    <div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container">
          <h3><%= link_to 'Tolk', tolk.root_path %></h3>
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"><%= current_locale.language_name %></a>
              <ul class="dropdown-menu">
                <%- Tolk::Locale.available_locales.each do |locale| %>
                <li><%= link_to locale.language_name, locale_path(locale) %></li>
                <%- end %>
              </ul>
            </li>
            <li><%= link_to t('Completed'), locale_path(current_locale) %></li>
            <li><%= link_to t('Missing (%{count})', :count => current_locale.missing_phrases_count), missing_locale_path(current_locale) %></li>
          </ul>
          <form class="pull-left" action="">
            <input type="text" placeholder="<%= t 'Search Translations' %>">
          </form>
        </div>
      </div>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
